name: Build, Test and Publish

on: [push, pull_request]

jobs:
  ci-windows:
    runs-on: windows-latest
    env:
      ORGANIZATION_NAME: ${{ secrets.ORGANIZATION_NAME }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'
      - name: Fetch all history for all tags and branches
        run: git fetch --all --tags
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1.4.0
        with:
          dotnet-version: '3.1.101'
      - name: Restore, Build
        run: dotnet build -c Release --disable-parallel /maxcpucount:1
      - name: Test
        run: dotnet test --no-restore -c Release /maxcpucount:1
      - name: Pack
        run: dotnet pack --configuration Release

      - name: Install NuGet client
        uses: warrenbuckley/Setup-Nuget@v1
      - name: Add private GitHub registry to NuGet
        run: nuget sources add -name "GPR" -Source https://nuget.pkg.github.com/${ORGANIZATION_NAME}/index.json -Username ${ORGANIZATION_NAME} -Password ${{ secrets.GITHUB_TOKEN }}
        shell: bash
      - name: Push generated package to GitHub registry
        run: nuget push .\VerifySignature\bin\Release\VerifySignature*.nupkg -Source "GPR" -SkipDuplicate
      - name: Delete the oldest package
          uses: actions/delete-package-versions@v1
          with:
            package-name: 'VerifySignature'
